body {
  background-color: blanchedalmond;
}
.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }
  .grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
  }

  .divide {
    border: 20px 30px 20px 30px;
  }
  .one {
    background-color: burlywood;
  }
  .two {
    background-color: grey;
  }

.bullet {
  font-size: xx-large;
  padding: 15px 30px 20px 30px;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}