terratowns_endpoint="https://terratowns.cloud/api"
bucket_name="be187imqqdizbhogpqcp5q4dxpz1s788"

roadrash = {
    public_path="/workspace/terraform-beginner-bootcamp-2023/public/roadrash/"
    content_version=1
}
food_ghana = {
    public_path="/workspace/terraform-beginner-bootcamp-2023/public/food_ghana/"
    content_version=1
}
visit_ghana = {
    public_path="/workspace/terraform-beginner-bootcamp-2023/public/visit_ghana/"
    content_version=1
}